<footer class="footer">
  <div class="container footer-container">
    <nav class="block-one_footer">
      <a class="footer_sitemap" href="">Sitemap</a>
        <ul class="footer_nav_list">
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Products</a></li>
          <li><a href="">Food</a></li>
        </ul>
      <a class="footer_copyright" href="">Copyright Dotcreativemarket</a>
    </nav>
    <div class="block-two_footer">
      <a href="/index.html" class="logo_footer">
        <svg class="footer_icon-logo" width="174" height="111.7">
          <use href="/images/icons.svg#icon-logo-green"></use>
        </svg>
      </a>
        <div class="social-media_footer">
          <a href="/index.html" class="social-media_footer_link">
            <svg class="footer_icon-social" width="24" height="24">
              <use href="/images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
          <a href="/index.html" class="social-media_footer_link">
            <svg class="footer_icon-social" width="24" height="24">
              <use href="/images/icons.svg#icon-twiter"></use>
            </svg>
          </a>
          <a href="/index.html" class="social-media_footer_link">
            <svg class="footer_icon-social" width="24" height="24">
              <use href="/images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </div>
      </a>
    </div>
    <div class="block-three_footer">
      <h2 class="title_footer_block-three">
        All natural greens for a healthier you.
      </h2>
       <form class="subscribe-form_footer">
      <input
      class="footer_input"
        type="email"
        name="email"
        placeholder="Enter email address"
        pattern="/^([\w\!\#$\%\&\'\*\+\-\/\=\?\^\`{\|\}\~]+\.)*[\w\!\#$\%\&\'\*\+\-\/\=\?\^\`{\|\}\~]+@((((([a-z0-9]{1}[a-z0-9\-]{0,62}[a-z0-9]{1})|[a-z])\.)+[a-z]{2,6})|(\d{1,3}\.){3}\d{1,3}(\:\d{1,5})?)$/i"
        required
      />
      <button class="footer_form_btn" type="submit">
     Subscribe
      </button>
    </form>
      <!-- <a class="link_footer_block-three" href="">Enter email address</a>
      <a class="link_footer_block-three" href="">Subscribe</a> -->
    </div>
     <svg class="footer_icon_left" width="74" height="260">
      <use href="/images/icons.svg#icon-branch-footer-left"></use>
    </svg>
     <svg class="footer_icon_right" width="74" height="260">
      <use href="/images/icons.svg#icon-branch-footer-right"></use>
    </svg>
  </div>
</footer>
