<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <div>
        <a href="/index.html" class="logo">
          <svg class="header_icon-logo" width="174" height="111.7">
            <use href="/images/icons.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <div class="nav-link-wrapper">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a class="nav-list__item-link" href="/index.html">Home</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__item-link" href="#section__aboutUs">About</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__item-link" href="#section__ourProducts">Products</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__item-link" href="#section__health">Food</a>
          </li>
        </ul>

        <button class="cart-btn header__btn">
          <svg class="cart-icon btn__svg" width="19" height="19">
            <use href="/images/icons.svg#icon-cart"></use>
          </svg>
          <span class="cart-span">Cart</span>
        </button>
        <div class="button-wrapper header__btn">
          <button class="contact-btn">
            <span class="btn-text">Contact</span>
          </button>
        </div>
      </div>
      <button type="button" class="burger-btn">
        <svg class="burger-icon" width="36" height="28">
          <use href="/images/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>


<!-- MODAL WINDOW -->
     <div class="modal-overley"  id="mobileMenu">
    <button type="button" class="modal-close-btn">
      <svg class="modal-close-icon" width="24" height="24">
        <use href="/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal">
      <nav class="nav-menu">
        <a href="/index.html" class="logo-modal">
           <svg class="header_icon-logo_modal" width="174" height="111.7">
             <use href="/images/icons.svg#icon-logo"></use>
           </svg>
         </a>
        <ul class="mobile-menu" id="mobile-menu">
          <li class="box-menu">
            <a href="#section__aboutUs" class="menu-link">About</a>

          </li>
          <li class="box-menu">
            <a href="#section__ourProducts" class="menu-link">Products</a>
          </li>
          <li class="box-menu">
            <a href="#section__health" class="menu-link">Food</a>
          </li>

        </ul>
      </nav>

      <button  class="contacts-menu-submit"
        id="mobile-order-btn">Contact Me</button>
    </div>
    <svg class="modal_icon_left" width="73" height="89">
      <use href="/images/icons.svg#icon-branch-footer-left"></use>
    </svg>
     <svg class="modal_icon_right" width="73" height="89">
      <use href="/images/icons.svg#icon-branch-footer-right"></use>
    </svg>
  </div>

<!-- CONTACT FORM -->

  <div class="contact-modal">
  <button type="button" class="contact-close-btn">
    <svg class="contact-close-icon" width="28" height="28">
      <use href="/images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <form class="contact-form" id="contact-form">
    <h2 class="title_contact-form">Leave Your Contact Info</h2>
    <input class="contact-form_input" id="contact-form_name" type="text" placeholder="Your Name" required />
    <input
      class="contact-form_input"
        type="email"
        name="email"
        id="contact-form_email"
        placeholder="Your Email"
        required
      />
    <button class="submit-btn_contact-form" type="submit">Submit</button>
  </form>
</div>

</header>
