<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <div>
        <a href="/index.html" class="logo">
          <svg class="header_icon-logo" width="174" height="111.7">
            <use href="/images/icons.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <div class="nav-link-wrapper">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a class="nav-list__item-link" href="#">Home</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__item-link" href="#">About</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__item-link" href="#">Products</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__item-link" href="#">Food</a>
          </li>
        </ul>

        <button class="cart-btn header__btn">
          <svg class="cart-icon btn__svg" width="19" height="19">
            <use href="/images/icons.svg#icon-cart"></use>
          </svg>
          <span class="cart-span">Cart</span>
        </button>
        <div class="button-wrapper header__btn">
          <button class="contact-btn">
            <span class="btn-text">Contact</span>
          </button>
        </div>
      </div>
      <button type="button" class="burger-btn">
        <svg class="burger-icon" width="36" height="28">
          <use href="/images/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>


<!-- modal-window -->
     <div class="modal-overley">
    <button type="button" class="modal-close-btn">
      <svg class="modal-close-icon" width="28" height="28">
        <use href="/img/header/close.svg#icon-x"></use>
      </svg>
    </button>
    <div class="modal">
      <nav class="nav-menu">
        <ul class="section-menu" id="mobile-menu">
          <li class="box-menu">
            <a href="#">About</a>
          </li>
          <li class="box-menu">
            <a href="#">Products</a>
          </li>
          <li class="box-menu">
            <a href="#">Food</a>
          </li>

        </ul>
      </nav>
      <a
        class="contacts-menu-submit"
        id="mobile-order-btn"
        href="#work-together"
        >Order the project</a
      >
    </div>
  </div>
</header>
