<section class="section__health section" id="section__health">
  <div class="container__health container">
    <div class="information_health_wrapper">
      <p class="health_description_p">From nature to your table</p>
      <h2 class="health_description_title">Health starts with organic food</h2>
      <p class="health_description_p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        ullamcorper convallis fermentum.
      </p>
    </div>

    <div class="salad_gallery">
      <!-- new card -->
      <div class="salad_crad_wrapper">
        <img
          class="salad_img"
          src="/images/health-salads/chicken-salad.png"
          alt="lettuce"
        />
        <div class="salad_desc_wrapper">
          <p class="salad_name">Chicken salad</p>
          <div class="salad_icon_wrapper">
            <p class="salad_price">$55</p>
            <svg class="shopping-icon_salad" width="20" height="18">
              <use href="/images/icons.svg#icon-shopping"></use>
            </svg>
          </div>
        </div>
      </div>
      <!-- new card -->
      <div class="salad_crad_wrapper">
        <img
          class="salad_img"
          src="/images/health-salads/egg-salad.png"
          alt="lettuce"
        />
        <div class="salad_desc_wrapper">
          <p class="salad_name">Egg salad</p>
          <div class="salad_icon_wrapper">
            <p class="salad_price">$35</p>
            <svg class="shopping-icon_salad" width="20" height="18">
              <use href="/images/icons.svg#icon-shopping"></use>
            </svg>
          </div>
        </div>
      </div>
      <!-- new card -->
      <div class="salad_crad_wrapper">
        <img
          class="salad_img"
          src="/images/health-salads/poke-salad.png"
          alt="lettuce"
        />
        <div class="salad_desc_wrapper">
          <p class="salad_name">Poke salad</p>
          <div class="salad_icon_wrapper">
            <p class="salad_price">$65</p>
            <svg class="shopping-icon_salad" width="20" height="18">
              <use href="/images/icons.svg#icon-shopping"></use>
            </svg>
          </div>
        </div>
      </div>
      <!-- new card -->
      <div class="salad_crad_wrapper">
        <img
          class="salad_img"
          src="/images/health-salads/vegan-salad.png"
          alt="lettuce"
        />
        <div class="salad_desc_wrapper">
          <p class="salad_name">Vegan salad</p>
          <div class="salad_icon_wrapper">
            <p class="salad_price">$45</p>
            <svg class="shopping-icon_salad" width="20" height="18">
              <use href="/images/icons.svg#icon-shopping"></use>
            </svg>
          </div>
        </div>
      </div>
      <!-- new card -->
      <div class="salad_crad_wrapper">
        <img
          class="salad_img"
          src="/images/health-salads/mixed-fruits.png"
          alt="lettuce"
        />
        <div class="salad_desc_wrapper">
          <p class="salad_name">Mixed fruits</p>
          <div class="salad_icon_wrapper">
            <p class="salad_price">$65</p>
            <svg class="shopping-icon_salad" width="20" height="18">
              <use href="/images/icons.svg#icon-shopping"></use>
            </svg>
          </div>
        </div>
      </div>
      <!-- new card -->
      <div class="salad_crad_wrapper">
        <img
          class="salad_img"
          src="/images/health-salads/acai-smoothie.png"
          alt="lettuce"
        />
        <div class="salad_desc_wrapper">
          <p class="salad_name">Acai Smoothie</p>
          <div class="salad_icon_wrapper">
            <p class="salad_price">$45</p>
            <svg class="shopping-icon_salad" width="20" height="18">
              <use href="/images/icons.svg#icon-shopping"></use>
            </svg>
          </div>
        </div>
      </div>
      <!-- new card -->
      <div class="salad_crad_wrapper">
        <img
          class="salad_img"
          src="/images/health-salads/keto-diet.png"
          alt="lettuce"
        />
        <div class="salad_desc_wrapper">
          <p class="salad_name">keto diet salad</p>
          <div class="salad_icon_wrapper">
            <p class="salad_price">$65</p>
            <svg class="shopping-icon_salad" width="20" height="18">
              <use href="/images/icons.svg#icon-shopping"></use>
            </svg>
          </div>
        </div>
      </div>
      <!-- new card -->
      <div class="salad_crad_wrapper">
        <img
          class="salad_img"
          src="/images/health-salads/tropical-salad.png"
          alt="lettuce"
        />
        <div class="salad_desc_wrapper">
          <p class="salad_name">tropical salad</p>
          <div class="salad_icon_wrapper">
            <p class="salad_price">$45</p>
            <svg class="shopping-icon_salad" width="20" height="18">
              <use href="/images/icons.svg#icon-shopping"></use>
            </svg>
          </div>
        </div>
      </div>
      <!-- the end -->
    </div>
  </div>
</section>
