<section class="section__hero section" id="section__hero">
  <div class="swiper">
    <div class="swiper-wrapper">
      <!-- Lazy image -->
      <div class="swiper-slide">
        <picture class="projects-section-list-card-image">
          <source
            srcset="
              /images/hero/fresh-vegetable-salad.jpg    1x,
              /images/hero/fresh-vegetable-salad@2x.jpg 2x
            "
          />
          <img
            loading="lazy"
            src="/images/hero/fresh-vegetable-salad.jpg"
            alt="Fresh vegetable salad"
          />
        </picture>
        <!-- <div class="swiper-lazy-preloader"></div> -->
      </div>

      <div class="swiper-slide">
        <picture class="projects-section-list-card-image">
          <source
            srcset="
              /images/hero/flat-lay-plate.jpg    1x,
              /images/hero/flat-lay-plate@2x.jpg 2x
            "
          />
          <img
            loading="lazy"
            src="/images/hero/flat-lay-plate.jpg"
            alt="flat lay plate of salad"
          />
        </picture>
        <!-- <div class="swiper-lazy-preloader"></div> -->
      </div>

      <div class="swiper-slide">
        <picture class="projects-section-list-card-image">
          <source
            srcset="
              /images/hero/panzanella.jpg    1x,
              /images/hero/panzanella@2x.jpg 2x
            "
          />
          <img
            loading="lazy"
            src="/images/hero/panzanella.jpg"
            alt="panzanella"
          />
        </picture>
        <!-- <div class="swiper-lazy-preloader"></div> -->
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>
  <div class="hero_icon_leaf">
    <svg class="hero_icon" width="40" height="32">
      <use href="../images/icons.svg#icon-leaf"></use>
    </svg>
  </div>

  <div class="hero_title__container">
    <h1 class="hero_title">organic</h1>
    <h2 class="hero_sub-title">food for a</h2>
    <h2 class="hero_sub-title">golden life.</h2>

    <p class="number number_01">01</p>
    <p class="number number_03">03</p>
  </div>
</section>
