<section class="section__ourProducts section" id="section__ourProducts">
  <div class="container__ourProducts container">
    <div class="information_ourProduct">
      <p class="ourProduct_description_p">Be Healthy</p>
      <h2 class="ourProduct_description_title">Our Product</h2>
      <p class="ourProduct_description_p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        ullamcorper convallis fermentum.
      </p>
    </div>
    <div class="svg_ourProduct_wrapper">
      <button
        type="button"
        class="basket_btn svg_btn_ourProduct"
        data-category="all"
      >
        <svg class="basket-icon" width="36" height="28">
          <use
            href="/images/icons.svg#icon-baskets"
            width="36"
            height="28"
          ></use>
        </svg>
        <span class="svg_descr">Show All</span>
      </button>

      <button
        type="button"
        class="fruits_btn svg_btn_ourProduct"
        data-category="fruits"
      >
        <svg class="fruits-icon" width="36" height="28">
          <use href="/images/icons.svg#icon-fruits"></use>
        </svg>
        <span class="svg_descr">Fruits</span>
      </button>

      <button
        type="button"
        class="vegetables_btn svg_btn_ourProduct"
        data-category="vegetables"
      >
        <svg class="vegetables-icon" width="36" height="28">
          <use href="/images/icons.svg#icon-vegetables"></use>
        </svg>
        <span class="svg_descr">Vegetables</span>
      </button>

      <button
        type="button"
        class="beans_btn svg_btn_ourProduct"
        data-category="beans"
      >
        <svg class="beans-icon" width="36" height="28">
          <use href="/images/icons.svg#icon-beans"></use>
        </svg>
        <span class="svg_descr">Beans</span>
      </button>

      <button
        type="button"
        class="mushrooms_btn svg_btn_ourProduct"
        data-category="mushrooms"
      >
        <svg class="mushrooms-icon" width="36" height="28">
          <use href="/images/icons.svg#icon-mushrooms"></use>
        </svg>
        <span class="svg_descr">Mushrooms</span>
      </button>

      <button
        type="button"
        class="eggs_btn svg_btn_ourProduct"
        data-category="eggs"
      >
        <svg class="eggs-icon" width="36" height="28">
          <use href="/images/icons.svg#icon-eggs"></use>
        </svg>
        <span class="svg_descr">Eggs</span>
      </button>
    </div>

    <div class="product_gallery">
      <div
        class="product_wrapper wrapper_background_lettuce"
        data-category="vegetables"
      >
        <img
          class="product_img"
          src="/images/our-products/green-oak.png"
          alt="lettuce"
        />
        <div class="product_info_wrapper">
          <div class="product_info">
            <p class="product_name">Lettuce</p>
            <p class="product_price">$5/kg</p>
          </div>
          <div class="product_icon_wrapper">
            <svg class="stars-icon" width="36" height="28">
              <use href="/images/icons.svg#icon-stars"></use>
            </svg>
            <svg class="shopping-icon" width="20" height="18">
              <use href="/images/icons.svg#icon-shopping"></use>
            </svg>
          </div>
        </div>
      </div>

      <div
        class="product_wrapper wrapper_background_pear"
        data-category="fruits"
      >
        <img
          class="product_img"
          src="/images/our-products/pear.png"
          alt="lettuce"
        />
        <div class="product_info_wrapper">
          <div class="product_info">
            <p class="product_name">Pear</p>
            <p class="product_price">$3/kg</p>
          </div>
          <div class="product_icon_wrapper">
            <svg class="stars-icon" width="36" height="28">
              <use href="/images/icons.svg#icon-stars"></use>
            </svg>
            <svg class="shopping-icon" width="20" height="18">
              <use href="/images/icons.svg#icon-shopping"></use>
            </svg>
          </div>
        </div>
      </div>

      <div
        class="product_wrapper wrapper_background_brocolli"
        data-category="vegetables"
      >
        <img
          class="product_img"
          src="/images/our-products/broccoli.png"
          alt="lettuce"
        />
        <div class="product_info_wrapper">
          <div class="product_info">
            <p class="product_name">Brocolli</p>
            <p class="product_price">$8/kg</p>
          </div>
          <div class="product_icon_wrapper">
            <svg class="stars-icon" width="36" height="28">
              <use href="/images/icons.svg#icon-stars"></use>
            </svg>
            <svg class="shopping-icon" width="20" height="18">
              <use href="/images/icons.svg#icon-shopping"></use>
            </svg>
          </div>
        </div>
      </div>

      <div
        class="product_wrapper wrapper_background_tomatoes"
        data-category="fruits"
      >
        <img
          class="product_img"
          src="/images/our-products/tomatoes.png"
          alt="lettuce"
        />
        <div class="product_info_wrapper">
          <div class="product_info">
            <p class="product_name">Tomatoes</p>
            <p class="product_price">$10/kg</p>
          </div>
          <div class="product_icon_wrapper">
            <svg class="stars-icon" width="36" height="28">
              <use href="/images/icons.svg#icon-stars"></use>
            </svg>
            <svg class="shopping-icon" width="20" height="18">
              <use href="/images/icons.svg#icon-shopping"></use>
            </svg>
          </div>
        </div>
      </div>

      <div
        class="product_wrapper wrapper_background_cucumbers"
        data-category="vegetables"
      >
        <img
          class="product_img"
          src="/images/our-products/cucumber.png"
          alt="lettuce"
        />
        <div class="product_info_wrapper">
          <div class="product_info">
            <p class="product_name">Cucumbers</p>
            <p class="product_price">$10/kg</p>
          </div>
          <div class="product_icon_wrapper">
            <svg class="stars-icon" width="36" height="28">
              <use href="/images/icons.svg#icon-stars"></use>
            </svg>
            <svg class="shopping-icon" width="20" height="18">
              <use href="/images/icons.svg#icon-shopping"></use>
            </svg>
          </div>
        </div>
      </div>

      <div
        class="product_wrapper wrapper_background_cherries"
        data-category="fruits"
      >
        <img
          class="product_img"
          src="/images/our-products/cherry.png"
          alt="lettuce"
        />
        <div class="product_info_wrapper">
          <div class="product_info">
            <p class="product_name">Cherries</p>
            <p class="product_price">$20/kg</p>
          </div>
          <div class="product_icon_wrapper">
            <svg class="stars-icon" width="36" height="28">
              <use href="/images/icons.svg#icon-stars"></use>
            </svg>
            <svg class="shopping-icon" width="20" height="18">
              <use href="/images/icons.svg#icon-shopping"></use>
            </svg>
          </div>
        </div>
      </div>

      <div
        class="product_wrapper wrapper_background_avocados"
        data-category="fruits"
      >
        <img
          class="product_img"
          src="/images/our-products/avocado.png"
          alt="lettuce"
        />
        <div class="product_info_wrapper">
          <div class="product_info">
            <p class="product_name">Avocados</p>
            <p class="product_price">$8/kg</p>
          </div>
          <div class="product_icon_wrapper">
            <svg class="stars-icon" width="36" height="28">
              <use href="/images/icons.svg#icon-stars"></use>
            </svg>
            <svg class="shopping-icon" width="20" height="18">
              <use href="/images/icons.svg#icon-shopping"></use>
            </svg>
          </div>
        </div>
      </div>

      <div
        class="product_wrapper wrapper_background_raspberries"
        data-category="fruits"
      >
        <img
          class="product_img"
          src="/images/our-products/raspberry.png"
          alt="lettuce"
        />
        <div class="product_info_wrapper">
          <div class="product_info">
            <p class="product_name">Raspberries</p>
            <p class="product_price">$20/kg</p>
          </div>
          <div class="product_icon_wrapper">
            <svg class="stars-icon" width="36" height="28">
              <use href="/images/icons.svg#icon-stars"></use>
            </svg>
            <svg class="shopping-icon" width="20" height="18">
              <use href="/images/icons.svg#icon-shopping"></use>
            </svg>
          </div>
        </div>
      </div>

      <div
        class="product_wrapper wrapper_background_cabbages"
        data-category="vegetables"
      >
        <img
          class="product_img"
          src="/images/our-products/cabbage.png"
          alt="lettuce"
        />
        <div class="product_info_wrapper">
          <div class="product_info">
            <p class="product_name">Cabbages</p>
            <p class="product_price">$10/kg</p>
          </div>
          <div class="product_icon_wrapper">
            <svg class="stars-icon" width="36" height="28">
              <use href="/images/icons.svg#icon-stars"></use>
            </svg>
            <svg class="shopping-icon" width="20" height="18">
              <use href="/images/icons.svg#icon-shopping"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="showMore_btn_ourProduct">Show More</button>
  </div>
</section>
