<section class="section__ourProducts section" id="section__ourProducts">
  <div class="container__ourProducts container">
    <div>
      <p>Be Healthy</p>
      <h2>Our Product</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        ullamcorper convallis fermentum.
      </p>
    </div>
    <div class="svg_ourProduct">
      <button type="button" class="basket_btn svg_btn_ourProduct">
        <svg class="basket-icon" width="36" height="28">
          <use href="../images/icons.svg#basket"></use>
        </svg>
      </button>

      <button type="button" class="basket_btn svg_btn_ourProduct">
        <svg class="basket-icon" width="36" height="28">
          <use href="../images/icons.svg#icon-beans"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
