<section class="section section__plants">
  <div class="container container__plants">
<h2 class="plants__title">Рослини</h2>
<p class="plants__p">
  Ми любимо рослини всім серцем. Приносимо їх в наші домівки, розставляємо по кімнатах. Нам затишно, коли нас оточує жива і пишна зелень! 
</p>
<p class="plants__p">
  Дослідження NASA показали: рослини видаляють з повітря шкідливі сполуки – ті, що випаровуються з фарб, меблів, засобів для прибирання. А ще рослини заспокійливо діють на нервову систему. А ще вони дуже гарні!
</p>
<ul class="plants__list">
  <li class="plants__list__item">
    <button class="plants__btn">Рослини</button>
  </li>
  <li class="plants__list__item">
    <button class="plants__btn">Кактуси</button>
  </li>
  <li class="plants__list__item">
    <button class="plants__btn">Сукуленти</button>
  </li>
  <li class="plants__list__item">
    <button class="plants__btn">Для підвіконня</button>
  </li>
  <li class="plants__list__item">
    <button class="plants__btn">Світлолюбиві</button>
  </li>
</ul>

<ul class="plants__list_cards">

  <li class="list__cards_items">
    <img src="" alt="" class="cards__img">
    <h3 class="cards__title">Якась файна чичка</h3>
    <p class="cards__price">100 ₴</p>
    <p class="cards__availability">Є в наявності</p>

    <ul class="card__btn">
      <li>
        <svg class="card__btn_icon">
          <use href="./images/icons.svg#icon-heart-o"></use>
        </svg>
      </li>
      <li>
        <svg class="card__btn_icon">
          <use href="./images/icons.svg#icon-basket"></use>
        </svg>
      </li>
    </ul>

  </li>

  <li class="list__cards_items">
    <img src="" alt="" class="cards__img">
    <h3 class="cards__title">Якась файна чичка</h3>
    <p class="cards__price">100 ₴</p>
    <p class="cards__availability">Є в наявності</p>

    <ul class="card__btn">
      <li>
        <svg class="card__btn_icon">
          <use href="./images/icons.svg#icon-heart-o"></use>
        </svg>
      </li>
      <li>
        <svg class="card__btn_icon">
          <use href="./images/icons.svg#icon-basket"></use>
        </svg>
      </li>
    </ul>

  </li>

  <li class="list__cards_items">
    <img src="" alt="" class="cards__img">
    <h3 class="cards__title">Якась файна чичка</h3>
    <p class="cards__price">100 ₴</p>
    <p class="cards__availability">Є в наявності</p>

    <ul class="card__btn">
      <li>
        <svg class="card__btn_icon">
          <use href="./images/icons.svg#icon-heart-o"></use>
        </svg>
      </li>
      <li>
        <svg class="card__btn_icon">
          <use href="./images/icons.svg#icon-basket"></use>
        </svg>
      </li>
    </ul>

  </li>
  
  <li class="list__cards_items">
    <img src="" alt="" class="cards__img">
    <h3 class="cards__title">Якась файна чичка</h3>
    <p class="cards__price">100 ₴</p>
    <p class="cards__availability">Є в наявності</p>

    <ul class="card__btn">
      <li>
        <svg class="card__btn_icon">
          <use href="./images/icons.svg#icon-heart-o"></use>
        </svg>
      </li>
      <li>
        <svg class="card__btn_icon">
          <use href="./images/icons.svg#icon-basket"></use>
        </svg>
      </li>
    </ul>

  </li>
</ul>
  </div>
</section>