<section class="section__qualityFood section" id="section__qualityFood">
  <div class="container__qualityFood container">
    <picture class="qualityFood_img">
      <source
        srcset="
          /images/quality-food/appetizing-greek-salad-plate-served-table.jpg    1x,
          /images/quality-food/appetizing-greek-salad-plate-served-table@2x.jpg 2x
        "
      />
      <img
        loading="lazy"
        src="/images/quality-food/appetizing-greek-salad-plate-served-table.jpg"
        alt="Greeksalad"
      />
    </picture>
    <div class="description-wrapper">
      <div class="qualityFood_description">
        <p class="only-organic_p">Only Organic</p>
        <h2 class="only-organic_title">Only the best quality food for you</h2>
        <p class="only-organic_p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
          ullamcorper convallis fermentum.
        </p>
      </div>
      <div class="btn-container_q-food">
        <button type="button" class="qualityFood_btn">Explore</button>
      </div>
    </div>
  </div>
</section>
