<section class="section_reviews section">
  <div class="container">
    <div class="reviews-container">
      <div class="reviews_description">
        <p class="reviews_p">testimonial</p>
        <h2 class="reviews_title">What Other Say</h2>
        <p class="reviews_p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
          ullamcorper convallis fermentum.
        </p>
      </div>
      <div class="reviews-swiper-container">
        <ul class="reviews-list swiper-wrapper"></ul>
        <div class="swiper-pagination_review"></div>
      </div>
    </div>
  </div>
</section>
