<section class="section section__service" id="section__service">
  <div class="container container__service">
    <h2 class="visually-hidden">Service</h2>

    <ul class="service__list">
      <li class="service__list__item">
        <svg class="list__icon" width="60" height="60">
          <use href="../images/icons.svg#icon-fifth"></use>
        </svg>
        <h3 class="service__item_title">Надійне пакування</h3>
        <p class="service__item_p">
          Тут ще не придумали, який текст має бути, але він точно буде
        </p>
      </li>

      <li class="service__list__item">
        <svg class="list__icon" width="60" height="60">
          <use href="../images/icons.svg#icon-second"></use>
        </svg>
        <h3 class="service__item_title">Інструкція по догляду</h3>
        <p class="service__item_p"> Тут ще не придумали, який текст має бути, але він точно буде</p>
      </li>

      <li class="service__list__item">
        <svg class="list__icon" width="60" height="60">
          <use href="../images/icons.svg#icon-third"></use>
        </svg>
        <h3 class="service__item_title">Замовляй 24/7</h3>
        <p class="service__item_p"> Тут ще не придумали, який текст має бути, але він точно буде</p>
      </li>

      <li class="service__list__item">
        <svg class="list__icon" width="60" height="60">
          <use href="../images/icons.svg#icon-fourth"></use>
        </svg>
        <h3 class="service__item_title">Частинка душі</h3>
        <p class="service__item_p"> Тут ще не придумали, який текст має бути, але він точно буде</p>
      </li>
    </ul>

  </div>
</section>