<section class="section__slider section" id="section__slider">
  <div class="container__slider container">
    <!-- Slider main container -->
    <div class="swiper_slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper_slider">
        <!-- Slides -->
        <div class="swiper-slide_slider">
          <picture class="slider_img">
            <source
              srcset="
                /images/slider/avocado-toast.jpg    1x,
                /images/slider/avocado-toast@2x.jpg 2x
              "
            />
            <img
              loading="lazy"
              src="/images/slider/avocado-toast.jpg"
              alt="avocado toast"
            />
          </picture>
        </div>
        <div class="swiper-slide_slider">
          <picture class="slider_img">
            <source
              srcset="
                /images/slider/smoothie.jpg    1x,
                /images/slider/smoothie@2x.jpg 2x
              "
            />
            <img
              loading="lazy"
              src="/images/slider/smoothie.jpg"
              alt="smoothie"
            />
          </picture>
        </div>
        <div class="swiper-slide_slider">
          <picture class="slider_img">
            <source
              srcset="
                /images/slider/oat-meal.jpg    1x,
                /images/slider/oat-meal@2x.jpg 2x
              "
            />
            <img
              loading="lazy"
              src="/images/slider/oat-meal.jpg"
              alt="oat-meal"
            />
          </picture>
        </div>
        <div class="swiper-slide_slider">
          <picture class="slider_img">
            <source
              srcset="
                /images/slider/salad.jpg    1x,
                /images/slider/salad@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/images/slider/salad.jpg" alt="salad" />
          </picture>
        </div>
        <div class="swiper-slide_slider">
          <picture class="slider_img">
            <source
              srcset="
                /images/slider/salmon-bagel.jpg    1x,
                /images/slider/salmon-bagel@2x.jpg 2x
              "
            />
            <img
              loading="lazy"
              src="/images/slider/salmon-bagel.jpg"
              alt="salmon bagel"
            />
          </picture>
        </div>
        <div class="swiper-slide_slider">
          <picture class="slider_img">
            <source
              srcset="
                /images/slider/egg-breakfast.jpg    1x,
                /images/slider/egg-breakfast@2x.jpg 2x
              "
            />
            <img
              loading="lazy"
              src="/images/slider/egg-breakfast.jpg"
              alt="egg breakfast"
            />
          </picture>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination_slider"></div>
    </div>
  </div>
</section>
