<section class="section__taste-nature section" id="section__taste-nature">
  <div class="container_taste-nature">
    <svg class="white-leaf_svg" width="77" height="63">
      <use href="/images/icons.svg#icon-white-leaf"></use>
    </svg>
    <h2 class="taste-nature_title">Taste nature&#39;s best in every bite</h2>
    <button type="button" class="taste-nature_btn">Shop Now</button>
    <svg class="white-branch_svg top_svg" width="136" height="227">
      <use href="/images/icons.svg#icon-white-branch-second"></use>
    </svg>
    <svg class="white-branch_svg bottom_svg" width="136" height="227">
      <use href="/images/icons.svg#icon-white-branch"></use>
    </svg>
  </div>
</section>
