.container__aboutUs {
  display: flex;
  column-gap: 52px;
  height: 982px;
}
.img_carrot_wrapper {
  align-self: flex-end;
}
.img_carrot_img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.aboutUs_description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;

  width: 300px;
  /* height: 358px; */
}
.about-us {
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 14px;

  /* line-height: 30px; */
  line-height: 1.66667;
  color: #333;
}
.aboutUs_title {
  font-weight: 400;
  font-size: 30px;

  /* line-height: 70px; */
  line-height: 1.4;
  text-transform: capitalize;
  color: #8fb339;
}
.aboutUs_p_description {
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 14px;

  /* line-height: 30px; */
  line-height: 1.66667;
  color: #333;
}
.aboutUs_btn {
  /* position: relative; */

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 50px;
  width: 174px;
  height: 50px;
  background: #8fb339;
  border: 1px solid #8fb339;

  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: var(--first-family);
  padding: 17px 42px;
}
/* @media screen and (min-width: 768px) {
} */
@media screen and (min-width: 1280px) {
  .aboutUs_description {
    gap: 20px;

    width: 550px;
    height: 358px;
  }
  .about-us {
    font-size: 18px;
  }
  .aboutUs_title {
    font-size: 50px;
  }
  .aboutUs_p_description {
    font-size: 18px;
  }
  .aboutUs_btn {
    /* position: relative; */
    border-radius: 0 50px;
    width: 174px;
    height: 50px;
    background: #8fb339;
    border: 1px solid #8fb339;

    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: var(--first-family);
    padding: 17px 42px;
  }
}
/* @media screen and (min-width: 1440px) {
} */
