.container__aboutUs {
  display: flex;
  column-gap: 52px;
  position: relative;
}

.img_carrot {
  display: flex;
  position: relative;
}
.img_cabbage {
  display: none;
}

.aboutUs_description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  position: relative;
}
.about-us {
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.66667;
  color: #333;
}
.aboutUs_title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.4;
  text-transform: capitalize;
  color: #8fb339;
}
.aboutUs_p_description {
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.66667;
  color: #333;
}
.aboutUs_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 50px;
  width: 174px;
  height: 50px;
  background: #8fb339;
  border: 1px solid #8fb339;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: var(--first-family);
  padding: 17px 42px;
}
.aboutUs_btn:hover {
  background-color: #4f954a;
  transform: scale(1.05);
  cursor: pointer;
}
.aboutUs_btn:active {
  background-color: #3d7237;
  transform: scale(1.05);
  cursor: pointer;
}
.about-us_icon_left {
  display: none;
}
.about-us_icon_right {
  display: none;
}
.about-us_icon_leaf {
  display: none;
}

/************ tablet ****************/
@media screen and (min-width: 768px) {
  .aboutUs_title {
    font-size: 25px;
  }
  .aboutUs_btn {
    width: 144px;
    height: 40px;
  }
  .img_carrot {
    left: 40px;
    z-index: 99;
  }
  .img_cabbage {
    display: block;
    position: relative;
    z-index: 99;
    width: 700px;
  }
  .about-us_icon_left {
    display: block;
    position: absolute;
    left: 245px;
    top: -130px;
  }
  .about-us_icon_right {
    display: block;
    position: absolute;
    right: 5px;
    bottom: 206px;
  }
  .about-us_icon_leaf {
    display: block;
    position: absolute;
    overflow: hidden;
    z-index: 1;
  }
  .about-us_icon_leaf {
    width: 102px;
    height: 68px;
    bottom: -35px;
    left: 0px;
  }
}

/************ 1280 ****************/

@media screen and (min-width: 1280px) {
  .aboutUs_description {
    gap: 20px;

    width: 450px;
    height: 358px;
  }
  .container__aboutUs {
    height: 582px;
  }
  .about-us {
    font-size: 18px;
  }
  .aboutUs_title {
    font-size: 30px;
    width: 450px;
    height: 140px;
  }
  .aboutUs_p_description {
    font-size: 18px;
    width: 408px;
  }
  .aboutUs_btn {
    border-radius: 0 50px;
    width: 174px;
    height: 50px;
    background: #8fb339;
    border: 1px solid #8fb339;

    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: var(--first-family);
    padding: 17px 42px;
  }
  .img_carrot {
    width: 307px;
    bottom: 42px;
    left: 217px;
  }
  .img_cabbage {
    width: 667px;
    margin-left: 52px;
  }
  .about-us_icon_left {
    left: 615px;
    top: -120px;
  }
  .about-us_icon_right {
    right: 50px;
    bottom: 110px;
  }
  .about-us_icon_leaf {
    width: 142px;
    height: 108px;
    bottom: -220px;
    left: 206px;
  }
}

/************ 1440 ****************/

@media screen and (min-width: 1440px) {
  .about-us_icon_left {
    left: 710px;
    top: -130px;
  }
  .about-us_icon_right {
    right: 145px;
    bottom: 186px;
  }
  .img_carrot {
    width: 337px;
    height: 509px;
    margin-right: 52px;
    bottom: 42px;
    left: 187px;
  }
  .about-us_icon_leaf {
    width: 122px;
    height: 88px;
    bottom: -260px;
    left: 290px;
  }
}
