.information_health_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.health_description_p {
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.67;
  color: #333;
}
.health_description_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 1.4;
  text-transform: capitalize;
  color: #8fb339;
}
.salad_gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
  margin-top: 20px;
}
.salad_crad_wrapper {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.salad_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.salad_icon_wrapper {
  /* width: 80px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.salad_name {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.9;
  text-transform: capitalize;
  text-align: center;
  color: #8fb339;
}
.salad_price {
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 0.9375;
  /* text-align: center; */
  color: #333;
}
@media screen and (min-width: 768px) {
  .health_description_p {
    font-size: 18px;
    text-align: center;
  }
  .health_description_title {
    font-size: 50px;
    text-align: center;
  }
  .salad_crad_wrapper {
    width: 210px;
  }
  .salad_icon_wrapper {
    /* width: 100px; */
  }
  .salad_name {
    font-size: 18px;
  }
  .salad_price {
    font-size: 16px;
  }
  .shopping-icon_salad {
    width: 36px;
    height: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .salad_gallery {
    row-gap: 20px;
    /* column-gap: 20px; */
    margin-top: 30px;
  }
  .health_description_p {
    font-size: 18px;
  }
  .health_description_title {
    font-size: 50px;
  }
  .salad_crad_wrapper {
    width: 250px;
    height: 293px;
  }
  .salad_icon_wrapper {
    /* width: 150px; */
  }
  .salad_name {
    font-size: 24px;
  }
  .salad_price {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .salad_desc_wrapper {
    height: 120px;
  }
  .section__health {
    /* height: 1000px !important; */
  }
  .salad_img {
    /* width: 250px; */
    height: 250px;
  }
  .salad_crad_wrapper {
    width: 250px;
    /* height: 293px; */
  }
  .salad_name {
    font-size: 32px;
  }
  .salad_price {
    font-size: 28px;
  }
  .shopping-icon_salad {
    width: 48px;
    height: 48px;
  }
  .salad_gallery {
    row-gap: 60px;
    column-gap: 15px;
  }
}
