.hero_icon_leaf {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 1.25em;
  outline: 1px solid red;
  z-index: 999;

  display: inline-block;
  stroke: #8fb339;
  fill: #8fb339;
  /* stroke-width: 0; */
  /* stroke: currentColor;
  style="fill: var(--color1, #8fb339)"
  fill: currentColor; */
}
.section__hero {
  height: 935px;
}

.swiper {
  position: absolute !important;
  width: 100%;
  height: 235px;
  /* height: 100%; */
  left: 0;
  top: 0;
  right: 0;
  background-size: cover;
}
.swiper-slide {
  height: 100%;
}
.section_hero {
  /* position: relative; */
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.swiper-slide img {
  width: 100%; /* Image spans the width of the slide */
  height: 100%; /* Makes the image match Swiper's height */
  object-fit: cover; /* Ensures the image fills the area proportionally */
}

.hero_title__container {
  display: flex;
  flex-direction: column;
  /* padding: 10rem 0 0 2rem; */
  position: absolute;
  top: 150px;
  left: 16px;
  z-index: 1;
  pointer-events: none;
}
.hero_title {
  font-family: var(--second-family);
  font-weight: 400;

  text-transform: capitalize;
  color: var(--color-primary);
  pointer-events: all;
  font-size: 50px;

  margin-bottom: 10px;
  line-height: 0.58;
}
.hero_sub-title {
  font-family: var(--second-family);
  font-weight: 400;

  letter-spacing: 0.15rem;
  text-transform: capitalize;
  color: var(--color-primary);

  pointer-events: all;

  line-height: 0.97;
  font-size: 40px;
}

/* .swiper-slide img {
  width: 100%;
  object-fit: contain;
} */
.swiper-pagination {
  top: 100px !important;
  transform: none !important;

  height: 90px;

  width: 0.15rem;
  background-color: var(--text-primary);
  margin-right: 25px;
}
.swiper-pagination-bullet {
  height: 33% !important;
  width: 100%;
  background-color: transparent !important;
  border-radius: 0 !important;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}
.number {
  display: none;
}

@media screen and (min-width: 768px) {
  /* .section__hero {
    height: 510px;
  } */
  .swiper {
    height: 510px;
    /* height: 100%; */
  }
  .swiper-slide {
    height: 100%;
  }
  .hero_title__container {
    padding: 15rem 0 0 5rem;
  }
  .hero_title {
    font-size: 100px;
    margin-bottom: 20px;
  }
  .hero_sub-title {
    font-size: 80px;
    line-height: 0.9;
  }

  .swiper-pagination {
    width: 0.25rem;
    top: 200px !important;
    /* margin-right: 70px; */
    height: 210px;
    margin-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  /* .section__hero {
    height: 935px;
  } */
  .swiper {
    height: 935px;
    /* height: 100%; */
  }
  .swiper-slide {
    /* height: 935px !important; */
    height: 100%;
  }
  /* .projects-section-list-card-image {
    height: 935px;
  } */
  .hero_icon_leaf {
    top: 363px;
    left: 343px;
  }
  .swiper-pagination {
    top: 218px !important;
    height: 644px;
    margin-right: 100px;
  }
  .hero_title__container {
    padding: 350px 0 0 5rem;
  }

  .hero_title {
    font-size: 160px;

    margin-bottom: 72px;
  }
  .hero_sub-title {
    font-size: 140px;
  }
  .number {
    display: block;
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: 32px;
    line-height: 2.1875;
    text-transform: capitalize;
    color: #fff;
    font-family: var(--second-family);
  }
  .number_01 {
    top: 65px;
    right: 224px;
  }

  .number_03 {
    top: 667px;
    right: 224px;
  }
}
@media screen and (min-width: 1440px) {
  .swiper-pagination {
    margin-right: 196px;
  }
  .hero_title__container {
    padding: 28rem 0 0 5rem;
  }
  .hero_title {
    font-size: 200px;
    margin-bottom: 72px;
  }
  .hero_sub-title {
    font-size: 160px;
  }
}
