.swiper {
  position: absolute !important;
  width: 100%;
  height: 935px;
  left: 0;
  top: 0;
  right: 0;
}
.section_hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}
.swiper-slide img {
  object-fit: contain;
}
.hero_title__container {
  display: flex;
  flex-direction: column;
  padding: 11rem 0 0 0;
  position: relative;
  z-index: 1;
  pointer-events: none;
}
.hero_title {
  font-family: var(--second-family);
  font-weight: 400;

  text-transform: capitalize;
  color: var(--color-primary);
  pointer-events: all;
  font-size: 40px;

  margin-bottom: 10px;
  line-height: 0.58;
}
.hero_sub-title {
  font-family: var(--second-family);
  font-weight: 400;

  letter-spacing: 0.15rem;
  text-transform: capitalize;
  color: var(--color-primary);

  pointer-events: all;

  line-height: 0.97;
  font-size: 40px;
}

.swiper-slide img {
  width: 100%;
  object-fit: contain;
}
.swiper-pagination {
  top: 100px !important;
  transform: none !important;

  height: 90px;

  width: 0.15rem;
  background-color: var(--text-primary);
  margin-right: 25px;
}
.swiper-pagination-bullet {
  height: 33% !important;
  width: 100%;
  background-color: transparent !important;
  border-radius: 0 !important;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}
.number {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero_title__container {
    padding: 13rem 0 0 0rem;
  }
  .hero_title {
    font-size: 80px;
    margin-bottom: 20px;
  }
  .hero_sub-title {
    font-size: 80px;
    line-height: 0.9;
  }

  .swiper-slide img {
    width: 100%;
    object-fit: contain;
  }
  .swiper-pagination {
    width: 0.25rem;
    top: 200px !important;
    margin-right: 70px;
    height: 210px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-pagination {
    top: 218px !important;
    height: 644px;
    margin-right: 196px;
  }
  .hero_title__container {
    padding: 451px 0 0 0;
  }
  .hero_title {
    font-size: 260px;
    line-height: 150px;
    margin-bottom: 72px;
  }
  .hero_sub-title {
    font-size: 200px;
    line-height: 180px;
  }
  .number {
    display: block;
    color: white;
    font-weight: 400;
    font-size: 32px;
    line-height: 2.1875;
    text-transform: capitalize;
    color: #fff;
    font-family: var(--second-family);
  }
  .number_01 {
    position: absolute;
    top: 196px;
    right: 224px;
  }

  .number_03 {
    position: absolute;
    top: 818px;
    right: 224px;
  }
}
