.hero_icon_leaf {
  margin-bottom: 4px;
  position: absolute;
  z-index: 1;
  display: inline-block;
  stroke: #8fb339;
  fill: #8fb339;
  top: 35px;
  left: 40px;
}

.hero_icon {
  width: 40px;
  height: 23px;
}

.swiper {
  position: absolute !important;
  width: 100%;
  height: 235px;
  /* height: 100%; */
  left: 0;
  top: 0;
  right: 0;
  background-size: cover;
}
.swiper-slide {
  height: 100%;
}
.section_hero {
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}
.container__hero {
  /* height: 935px; */
  position: relative;
}

.swiper-slide img {
  width: 100%; /* Image spans the width of the slide */
  height: 100%; /* Makes the image match Swiper's height */
  object-fit: cover; /* Ensures the image fills the area proportionally */
}

.hero_title__container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 65px;
  z-index: 1;
  pointer-events: none;
  /* padding: 20px 0 0 0; */
}
.hero_title {
  font-family: var(--second-family);
  font-weight: 400;

  text-transform: capitalize;
  color: var(--color-primary);
  font-size: 50px;

  margin-bottom: 10px;
  line-height: 0.58;
}
.hero_sub-title {
  font-family: var(--second-family);
  font-weight: 400;

  letter-spacing: 0.15rem;
  text-transform: capitalize;
  color: var(--color-primary);

  line-height: 0.97;
  font-size: 40px;
}

.swiper-pagination {
  top: 40px !important;
  transform: none !important;

  height: 90px;

  width: 0.15rem;
  background-color: rgba(255, 255, 255, 0.7);
  margin-right: 25px;
}
.swiper-pagination-bullet {
  height: 33% !important;
  width: 100%;
  background-color: transparent !important;
  border-radius: 0 !important;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}
.number {
  display: none;
}
.swiper-pagination-vertical {
  z-index: 9 !important;
}

@media screen and (min-width: 768px) {
  /* .section__hero {
    height: 510px;
  } */
  .swiper {
    height: 510px;
    /* height: 100%; */
  }
  .swiper-slide {
    height: 100%;
  }
  .hero_title__container {
    top: 150px;
    padding: 5.5rem 0 0 0;
  }
  .hero_title {
    font-size: 100px;
    margin-bottom: 20px;
  }
  .hero_sub-title {
    font-size: 80px;
    line-height: 0.9;
  }

  .swiper-pagination {
    width: 0.25rem;
    top: 100px !important;
    /* margin-right: 70px; */
    height: 210px;
    /* margin-right: 32px; */
  }
  .hero_icon_leaf {
    top: 190px;
    left: 90px;
  }
  .hero_icon {
    width: 80px;
    height: 53px;
  }
  .number {
    display: block;
    position: absolute;
    z-index: 999;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 2.1875;
    text-transform: capitalize;
    color: #fff;
    font-family: var(--second-family);
    width: 27px;
    height: 70px;
  }
  .number_01 {
    bottom: 285px;
    right: 24px;
  }

  .number_03 {
    top: 122px;
    right: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .number {
    font-size: 32px;
  }
  .swiper {
    height: 935px;
  }
  .swiper-slide {
    height: 100%;
  }

  .hero_icon_leaf {
    top: 363px;
    left: 210px;
  }
  .hero_icon {
    width: 107px;
    height: 80px;
  }
  .swiper-pagination {
    top: 100px !important;
    height: 644px;
    margin-right: 100px;
  }
  .hero_title__container {
    padding: 300px 0 0 0;
  }

  .hero_title {
    font-size: 160px;

    margin-bottom: 72px;
  }
  .hero_sub-title {
    font-size: 140px;
  }

  .number_01 {
    bottom: 680px;
    right: 34px;
  }

  .number_03 {
    top: 530px;
    right: 34px;
  }
}
@media screen and (min-width: 1440px) {
  .swiper-pagination {
    margin-right: 196px;
  }
  .hero_title__container {
    padding: 16rem 0 0 0;
  }
  .hero_title {
    font-size: 200px;
    margin-bottom: 72px;
  }
  .hero_sub-title {
    font-size: 160px;
  }
  .hero_icon_leaf {
    top: 323px;
    left: 340px;
  }
  .hero_icon {
    width: 107px;
    height: 80px;
  }
}
