.container__ourProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information_ourProduct {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 30px !important;
  gap: 20px;

  width: 300px !important;
  /* height: 242px; */
}
.ourProduct_description_title {
  font-weight: 400;
  font-size: 50px;

  /* line-height: 70px; */
  line-height: 1.4;
  text-transform: capitalize;
  text-align: center;
  color: #8fb339;
  font-family: var(--second-family);
}
.ourProduct_description_p {
  font-weight: 400;
  font-size: 18px;

  line-height: 1.67;
  text-align: center;
  color: #333;
  font-family: var(--first-family);
}
.svg_ourProduct_wrapper {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px !important;
  width: 300px !important;
  height: 150px !important;
  margin-bottom: 20px;
}

.svg_btn_ourProduct {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  /* fill: #333333;
  stroke: #333333; */
}
/* for all the gallery */
.product_gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
}
/* individual */
.product_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc((100% - 15px) / 2);

  /* width: 488px;
  height: 640px; */
}

.product_info_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 7px;
  width: 136px;
  padding-left: 10px;
  padding-right: 10px;
  /* height: 125px; */
}

.product_info {
  display: flex;

  justify-content: space-between;
  align-items: center;

  flex-direction: row;
  /* gap: 10px;
   */

  width: 120px;

  /* height: 70px; */
}
.product_name {
  font-weight: 400;
  font-size: 14px;

  /* line-height: 70px; */
  line-height: 1.5;
  text-transform: capitalize;
  color: #333;
  font-family: var(--second-family);
}
.product_price {
  font-weight: 400;
  font-size: 12px;

  /* line-height: 30px; */
  line-height: 0.9375;
  color: #333;
  font-family: var(--first-family);
}
.product_icon_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  width: 100px;
  /* height: 48px; */
}

.shopping-icon {
  width: 48px;
  height: 48px;
}
.stars-icon {
  width: 140px;
  height: 30px;
}
.wrapper_background_lettuce {
  background: #eaf8d3;
}
.product_img {
  width: 80px;
  height: 80px;
}
.wrapper_background_pear {
  background: #fff2d8;
}
.product_img_pear {
  /* width: 371px;
  height: 495px; */
}
.wrapper_background_brocolli {
  background: #eaf8d3;
}
.product_img_brocolli {
  /* width: 481px;
  height: 481px; */
}
.wrapper_background_tomatoes {
  background: #e9f4fa;
}
.product_img_tomatoes {
  /* width: 497px;
  height: 497px; */
}
.wrapper_background_cucumbers {
  background: #ffe4bc;
}
.product_img_cucumbers {
  /* width: 481px;
  height: 481px; */
}
.wrapper_background_cherries {
  background: #e9f4fa;
}
.product_img_cherries {
  /* width: 821px;
  height: 547px; */
}
.wrapper_background_avocados {
  background: #eaf8d3;
}
.product_img_avocados {
  /* width: 783px;
  height: 588px; */
}
.wrapper_background_raspberries {
  background: #fff2d8;
}
.product_img_respberries {
  /* width: 410px;
  height: 410px; */
}
.wrapper_background_cabbages {
  background: #eaf8d3;
  display: none;
}
.product_img_cabbages {
  /* width: 344px;
  height: 516px; */
}

.showMore_btn_ourProduct {
  /* position: relative; */
  border: 1px solid #8fb339;
  border-radius: 0 50px;
  width: 178px;
  height: 50px;
  margin-top: 30px;
  background: #8fb339;

  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: var(--first-family);
  padding: 17px 42px;
}

@media screen and (min-width: 768px) {
  .svg_ourProduct_wrapper {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 50px !important;
    width: 726px !important;
    height: 84px !important;
    margin-bottom: 0;
  }

  .information_ourProduct {
    gap: 20px;
    width: 554px !important;
    height: 242px !important;
    margin-bottom: 0;
  }
  .product_wrapper {
    width: calc((100% - 30px) / 3);
  }
  .product_gallery {
    row-gap: 15px;
    column-gap: 15px;
  }

  .product_info_wrapper {
    gap: 7px;
    width: 220px;
    /* height: 125px; */
  }
  .product_img {
    width: 200px;
    height: 200px;
  }
  .product_icon_wrapper {
    gap: 43px;
    width: 200px;
    height: 48px;
  }
  .product_info {
    gap: 20px;
    width: 220px;
    /* height: 70px; */
  }
  .product_name {
    font-size: 24px;
    line-height: 1.5;
  }
  .product_price {
    font-size: 18px;
  }
  .wrapper_background_cabbages {
    display: block;
  }

  .stars-icon {
    width: 135px;
    height: 26px;
  }
  .showMore_btn_ourProduct {
    width: 218px;
    font-size: 14px;
    margin-top: 73px;
  }
}
@media screen and (min-width: 1280px) {
  .svg_ourProduct_wrapper {
    gap: 100px !important;
    width: 1026px !important;
  }

  .product_wrapper {
    width: calc((100% - 66px) / 3);
  }
  .product_gallery {
    row-gap: 33px;
    column-gap: 33px;
  }

  .product_info_wrapper {
    width: 320px;
    /* height: 125px; */
  }
  .product_img {
    width: 416px;
    height: 372px;
  }
  .product_icon_wrapper {
    gap: 67px;
    width: 320px;
    /* height: 48px; */
  }
  .product_info {
    gap: 40px;
    width: 320px;
    height: 70px;
  }
  .product_name {
    font-size: 36px;
    line-height: 1.94;
  }
  .product_price {
    font-size: 32px;
  }

  .stars-icon {
    width: 175px;
    height: 26px;
  }
}
@media screen and (min-width: 1440px) {
  .product_info {
    gap: 20px;
  }
}
