.section__taste-nature {
  background-color: #2a2a2a;
  background-image: url(/images/taste-nature/kateryna-hliznitsova-U5OIeA8tcG0-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 499px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container_taste-nature {
  position: relative;
  height: 699px;
}

.title_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 168px;
}
.taste-nature_title {
  width: 300px;
  font-weight: 400;
  font-size: 36px;

  /* line-height: 90px; */
  line-height: 0.9375;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  font-family: var(--second-family);
  margin-top: 30px;
  margin-bottom: 49px;
}
.taste-nature_btn {
  border: 1px solid #fff;
  border-radius: 0 50px;
  width: 174px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);

  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  font-family: var(--first-family);
}
.taste-nature_btn:hover,
.taste-nature_btn:active {
  background-color: #4f954a;
  transform: scale(1.05);
}
.top_svg {
  width: 86px;
  height: 177px;
  position: absolute;
  left: 0px;
  top: -37px;
}
.bottom_svg {
  width: 86px;
  height: 177px;
  position: absolute;
  right: 20px;
  bottom: -47px;
}
.white-leaf_svg {
  width: 47px;
  height: 33px;
}

@media screen and (min-width: 768px) {
  .section__taste-nature {
    height: 699px;
  }
  .taste-nature_title {
    width: 567px;
    font-size: 66px;
  }
  .white-leaf_svg {
    width: 77px;
    height: 63px;
  }
  .top_svg {
    width: 136px;
    height: 227px;
  }
  .bottom_svg {
    width: 136px;
    height: 227px;
  }
}
@media screen and (min-width: 1280px) {
  .taste-nature_title {
    width: 767px;
    font-size: 96px;
  }
}
@media screen and (min-width: 1440px) {
}
